---
interface Props {
  icons: {
    src: string,
    tooltip: string
  }[];
  title: string;
}

const { icons, title } = Astro.props;
---

<div class="icons-container">
  <h2 class="font-bold mb-9">{title}</h2>
  <div class="icons-container flex gap-4 px-2">
    {
      icons.map((icon) => {
        return (
          <div class="icon-container group inline-block relative">
            <img class="w-12 h-12 mx-1 transition duration-300 ease-in-out hover:scale-125" src={icon.src} />
            <span class="w-32 px-1 py-2 z-10 absolute bottom-[90%] left-1/2 opacity-0 group-hover:opacity-100 bg-slate-200 rounded-2xl text-subtitle text-center font-bold transition-all duration-300">{icon.tooltip}</span>
          </div>
        )
      })
    }
  </div>
</div>
