---
import SkillsSection from "./sections/SkillsSection.astro";
import ExperienceSection from "./sections/ExperienceSection.astro";
import ProjectsSection from "./sections/ProjectsSection.astro";
---

<main class="lg:w-[60%] w-full flex flex-col py-24 px-6 text-slate-200 overflow-y-auto lg:overflow-scroll overflow-clip scroll-smooth">
  <SkillsSection />
  <ExperienceSection />
  <ProjectsSection />
  <footer class=""></footer>
</main>
